<p-accordion [multiple]="true">
    <p-accordionTab header="Morgan Stanley, New York (Jul 15 till date)">
      <b> Project Profile:</b>
      <br/>&nbsp;&nbsp;&nbsp; I have worked on Android and IOS app development for Morgan Stanley’s Stock plan platform. This app is live in both play store and ios app store. This is developed in ionic and middle ware in build on spring and cxf. This app is used by millions of uses who manage their equity based compensation via Morgan Stanley. It allows them to manage their stocks and do a trading on them. Post development we have ongoing work order and enhancements to the app.
    <br/><br/><b>Responsibilities</b>
<br/>•	Responsible for designing front end screen and architecture of application.
<br/>•	Requirement gathering and discussion with business teams.
<br/>•	Requirement analysis, design and development of various modules of application, like plan summary, Tax address update, W8 W9 certification, Grant/Award Acceptance, Wires instructions, Document library, Future planning, Edelivery, Profile updates, alerts and messages, Internationalization, help, tax resources, form library.
<br/>•	Test case review and planning with testing team.
<br/>•	UAT support and prod implementation. 

<br/><br/><b>Key Challenges</b>
<br/>•	The time we started Ionic  was new in market. We need to compare it with other equivalent technologies like Sencha and present that to senior management including MD, ED and VPs of various areas. 
<br/>•	It was my first experience in mobile development, it was a great learning from development to deployment.
<br/><br/><b>Technologies: </b>
    <br/>Ionic, Angular JS, Jquery, JavaScript, JDK1.5, Apache CXF, Spring, Ibatis, UNIX, RAD IDE, Intelli J IDE, , Web sphere, Unix, Git.


    </p-accordionTab>
      
</p-accordion>