<p-accordion [multiple]="true">
    <p-accordionTab header="Morgan Stanley, New York (Jul 15 till date)">
      <b> Project Profile:</b>
      <br/>&nbsp;&nbsp;&nbsp; I have worked on Android and IOS app development for Morgan Stanley’s Stock plan platform. This app is live in both play store and ios app store. This is developed in ionic and middle ware in build on spring and cxf. This app is used by millions of uses who manage their equity based compensation via Morgan Stanley. It allows them to manage their stocks and do a trading on them. Post development we have ongoing work order and enhancements to the app.
    <br/><br/><b>Responsibilities</b>
<br/>•	Responsible for designing front end screen and architecture of application.
<br/>•	Requirement gathering and discussion with business teams.
<br/>•	Requirement analysis, design and development of various modules of application, like plan summary, Tax address update, W8 W9 certification, Grant/Award Acceptance, Wires instructions, Document library, Future planning, Edelivery, Profile updates, alerts and messages, Internationalization, help, tax resources, form library.
<br/>•	Test case review and planning with testing team.
<br/>•	UAT support and prod implementation. 

<br/><br/><b>Key Challenges</b>
<br/>•	The time we started Ionic  was new in market. We need to compare it with other equivalent technologies like Sencha and present that to senior management including MD, ED and VPs of various areas. 
<br/>•	It was my first experience in mobile development, it was a great learning from development to deployment.
<br/><br/><b>Technologies: </b>
    <br/>Ionic, Angular JS, Jquery, JavaScript, JDK1.5, Apache CXF, Spring, Ibatis, UNIX, RAD IDE, Intelli J IDE, , Web sphere, Unix, Git.


    </p-accordionTab>

    <p-accordionTab header="Morgan Stanley, New York (Feb-13 to Jul 15)">
      <b> Project Profile:</b>
      <br/>&nbsp;&nbsp;&nbsp; I have worked on Flex3 to HTML5 migration of Benefit Access Stock plan web site along with middleware rewrite with enhanced design, added web securities and optimized performance with rest full web services. This website is developed in Angular JS and CXF restful webservices on spring platform. This website is internet facing website and help clients to see their equity based compensation that they have received from their employer. It allows them to manage their stocks and do a trading on them. Post development we have ongoing work order and enhancements to system.
      <br/><br/><b>Responsibilities</b>
<br/>•	Responsible for designing front end and middleware components.
<br/>•	Responsible for designing restful web services. 
<br/>•	Responsible for designing Angular based UI, multitier java application having façade layer, service layer, validation layer and customization layers.
<br/>•	Responsible for taking care of Cross Site Scripting(XSS), wrote regular expressions to create white list for validating user inputs.
<br/>•	Responsible for taking care Cross Site Request Forgery (XSRF) by means of XSRF-TOKEN cookie and X-XSRF-TOKEN request headers.
<br/>•	Implemented a dashboard with charts and grids to show real time application status for last 27 days. Count of errors/Service executed successfully and other details with configurable email alerts.
<br/>•	Create on screen feedback when user can log in to his account in web application and select area on screen and send feedback about that screen with text and image of selected screen in email.
<br/>•	Responsible to validate sql injection attracts.
<br/>•	Responsible for writing java annotation for bean validation.
<br/>•	Responsible for designing the architecture of HTML5 and Angular JS based client components.
<br/>•	Writing custom UI components.
<br/>•	Implementing the caching mechanism in client side.
<br/>•	Code review of other team members.
<br/>•	UAT support and prod implementation 
<br/>•	Wrote several splunk queries to monitor application
<br/>•	Identified performance bottleneck and Optimized performance of application using jprofiler.
<br/>•	Used apache FOP to create PDF statements for clients my merging style sheet and data.
<br/>•	Configured batch jobs using Autosys
<br/>•	Wrote Unix script to scrap logs and monitor application health.


<br/><br/><b>Key Challenges</b>
<br/>•	The time we started Angular js was new in market. We need to compare it with other equivalent technologies like ExtJS, Jquery and present that to senior management including MD, ED and VPs of various areas. 
<br/>•	Wrote custom angular directives like Alert & Message pop up, Transactional button.
<br/>•	Identifying the bottlenecks in performance of existing middleware components.
<br/>•	Designing the web service layer of the application using rest full design principals.
<br/>•	Identifying and proactively mitigating the security threats in HTML and JS based applications.

<br/><br/><b>Technologies: </b>
    <br/>HTML5, Angular JS, Jquery, JavaScript, JDK1.6, Apache CXF, Spring, mybatis, UNIX, RAD IDE, Intelli J IDE, , Web sphere, Unix, Git.


    </p-accordionTab>

    <p-accordionTab header="Morgan Stanley, New York (Sep-07 to Feb-13)">
      <b> Project Profile:</b>
      <br/>&nbsp;&nbsp;&nbsp; worked in maintenance and enhancement of Flex 3 + Java based Benefit Access Stock plan web site. This website is internet facing website and help clients to see their equity based compensation that they have received from their employer. It allows them to manage their stocks and do a trading on them. Along with this application there are other internal applications that configure/ internationalize the web site , generate reports and send email alerts to the account holders.
      <br/><br/><b>Responsibilities</b>
 <br/>•	Responsible for Development and maintenance of application and L3 support for production issues
 <br/>•	Developing and enhancing middle ware components using Collections, Generics, Object Serialization and using Core java design patterns
 <br/>•	Developing and enhancing flex based front end
 <br/>•	Introducing new business flows in the project for different Front-End systems 
 <br/>•	Interacting with main frame systems using MQs
<br/>•	Implementing DB caches using Ibatis caching.
<br/>•	Development and maintenance of EJB/MDB based emails engine.
<br/>•	Development and maintenance of supporting applications that are used for configuration and internationalization of the internet facing web site.
<br/>•	Getting live/ delayed stock quotes using web services.
<br/>•	Development and maintenance of java based batch application used to generate monthly reports in PDF and xls.
<br/>•	Enhancing the GUI in order to incorporate new trade flows 
<br/>•	Responsible for performing releases on the UAT/PROD and Regression environments
<br/>•	Participate in User Acceptance Testing (UAT) and fix bugs accordingly
<br/>•	Code review of other team members.


<br/><br/><b>Key Challenges</b>
<br/>•	Performance enhancement of the system by fine tuning of application DAO layer by correcting the sql to use right indexes and suggested new indexes.
<br/>•	Identifying the bottlenecks in performance of the system by implemented connection time out/ read time out in web service calls.
<br/>•	Implemented multithreading in the report generation batch application to improve the time of the process.

<br/><br/><b>Technologies: </b>
    <br/>Flex 3, JDK1.5, JMS, EJB, Spring, Ibatis, UNIX, RAD IDE, JSP, Servlets, JavaScript, Web sphere, SVN, Synergy, PVCS


    </p-accordionTab>

    <p-accordionTab header="Wells Fargo (Mar- 07 to Sep-07)">
      <b> Project Profile:</b>
      <br/>&nbsp;&nbsp;&nbsp; Worked in Hybrid project with Wells Fargo bank. The focus of the project is Home Mortgage in    
U.S.A. The product was designed to assist the Home Mortgage’s associate (HMA) t o find and decide the best Home Mortgage products to the clients of Wells Fargo. HMA’s used to take client’s request with the system. The system then gets the credit report and uses the Pricing engine to decide the products that can be offered to the clines. Then the clients used to select the product or come back after some time. The products also had the feature of rate lock for the clients that decide to come back later.

      <br/><br/><b>Responsibilities</b>
<br/>•	Responsible for Development of UI screen in JSP/ Servlets. 
<br/>•	Responsible for Development middle tier in Java/J2ee.
<br/>•	System/Integration testing of the application. 
<br/>•	UAT support and bug fixes as required.
<br/>•	Writing test cases in Junit.
<br/>•	Pier code review.


<br/><br/><b>Key Challenges</b>
<br/>•	Implemented the application from scratch, talking to business analysis to understanding the requirement and explaining the same to junior team members.
<br/><br/><b>Technologies: </b>
    <br/>JSP, Servlets, Java, struts, Ibatis, UNIX, Eclipse IDE, JSP, Servlets, JavaScript, tomcat, VSS


    </p-accordionTab>

    <p-accordionTab header="Societe Generale (Sep-04 to Mar-07)">
      <b> Project Profile:</b>
      <br/>&nbsp;&nbsp;&nbsp; Worked with Societe Generale bank for developing their core banking system. This project was to customize quartz (product of TCS for core banking solutions) to suit the needs of Societe Generale bank.  The focus of the project was payment system in European Union. It was used by bankers to serve corporate customers for whole sale banking. It uses SWIFT and MT messages for inter-bank fund transfer. Other modules include reporting and monitoring system for anti-money laundering.
      <br/><br/><b>Responsibilities</b>
<br/>•	Responsible for Development and maintenance of Fund Transfer and Reporting modules
<br/>•	Responsible for Development of reports using sqr. 
<br/>•	Generation of reports in multiple language
<br/>•	System/Integration testing of the application. 
<br/>•	UAT support and bug fixes as required.
<br/>•	Pier code review.


<br/><br/><b>Key Challenges</b>
<br/>•	Fixed the formatting and layout issues in the reports that used to get generated in multiple languages and hence text used to overlap.
<br/><br/><b>Technologies: </b>
    <br/>C++, Unix, sql, clear care. 


    </p-accordionTab>
      
</p-accordion>