<p-accordion [multiple]="true">
   
    <p-accordionTab header="Financial calculator">
        <a href="https://fin-cal.appspot.com/web/index.html#/lumpsump" target="_blank">My Finance
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>  

    <p-accordionTab header="Sudoku">
        <a href="https://sandeephoodasudoku.appspot.com/" target="_blank">Sudoku
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>

    <p-accordionTab header="Responsive webdesign">
        <a href="https://sandeep-responsive.appspot.com/" target="_blank">Responsive webdesign 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>

    <p-accordionTab header="Internet switch">
        <a href="http://sandeephoodaiot.appspot.com/" target="_blank">My Home's lght and Fan 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>

    <p-accordionTab header="Native android app">
        <a href="https://play.google.com/store/apps/details?id=com.sosalerts.shaurya.sosalerts" target="_blank">SOS alerts - Andriod native app 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
    <p-accordionTab header="Hybrid android app using ionic">
        <a href="https://play.google.com/store/apps/details?id=sos.alert.sandeephooda678781" target="_blank">SOS alerts - Hybrid android app using ionic 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>

    <p-accordionTab header="Tableau">
        <a href="https://public.tableau.com/profile/sandeep.hooda#!/vizhome/DoctorsReport/DoctorsReport" target="_blank">Tableau demo
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
</p-accordion>