<p-accordion [multiple]="true">
   
   <p-accordionTab header="Artificial intelligence - BOT">
        <a href="https://ai-chat-bot-help.herokuapp.com/" target="_blank">Chat BOT to ask questions
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab> 
    <p-accordionTab header="Artificial intelligence">
        <a href="https://ai-digit-processing.herokuapp.com/" target="_blank">Digit Recognition
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab> 

    <p-accordionTab header="Financial calculator">
        <a href="https://fin-cal.appspot.com/web/index.html#/lumpsump" target="_blank">My Finance
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>  

    <p-accordionTab header="Sudoku">
        <a href="https://sandeephoodasudoku.appspot.com/" target="_blank">Sudoku
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>

    <p-accordionTab header="Responsive webdesign">
        <a href="https://sandeep-responsive.appspot.com/" target="_blank">Responsive webdesign 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>

    <p-accordionTab header="Internet switch">
        <a href="http://sandeephoodaiot.appspot.com/" target="_blank">My Home's lght and Fan 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>

    <p-accordionTab header="Native android app">
        <a href="https://play.google.com/store/apps/details?id=com.sosalerts.shaurya.sosalerts" target="_blank">SOS alerts - Andriod native app 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
    <p-accordionTab header="Hybrid android app using ionic">
        <a href="https://play.google.com/store/apps/details?id=sos.alert.sandeephooda678781" target="_blank">SOS alerts - Hybrid android app using ionic 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>

    <p-accordionTab header="Tableau">
        <a href="https://public.tableau.com/profile/sandeep.hooda#!/vizhome/DoctorsReport/DoctorsReport" target="_blank">Tableau demo
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
    <p-accordionTab header="Voice controlled switch using alexa">
        <a href="https://www.youtube.com/watch?v=cbOBhyNeiJk" target="_blank">Alexa demo 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
    <p-accordionTab header="Car seat belt reminder">
        <a href="https://www.youtube.com/watch?v=aj8uoCw3TmY" target="_blank">Car seat belt reminder 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
    <p-accordionTab header="Voice controlled switch using ardrino">
        <a href="https://www.youtube.com/watch?v=JfFHdeij3v0" target="_blank">Ardrino demo 
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
    <p-accordionTab header="Parking assistance">
        <a href="https://www.youtube.com/watch?v=xqmPGat-4Is" target="_blank">Parking assistance
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
    <p-accordionTab header="Water motor controller">
        <a href="https://www.youtube.com/watch?v=HaCB6VA6hh4" target="_blank">Water motor controller
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
    <p-accordionTab header="Mobile phone controlled lamp">
        <a href="https://www.youtube.com/watch?v=9EcLyFOFCHI" target="_blank">Mobile phone controlled lamp
        <span> <i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </p-accordionTab>
</p-accordion>