<p-accordion [multiple]="true">
    <p-accordionTab header="Experience">
        A highly skilled senior software professional extensive experience in analysis, design, development and implementation large-scale technology solutions for extremely challenging<b> financial domain </b> clients using Client-Server, Multi-tier architecture and web based systems in Java/J2EE, Angular1/4 technologies.
        I have <b>hands-on experience</b> in every front of application development including Front development, middle ware, database, application security, and performance analysis and improvements. 
        My turnaround for development of application and for solving production issues is very short.
    </p-accordionTab>
    <p-accordionTab header="Techknologies knows">
        I have  <b>hands-on experience</b> in multiple technologies including Artificial intelligence, python, IOT, HTML5, Angular1/4 JS, ionic, Responsive Web Design, Progressive web app & browser push notifications, HTTP2 Protocol, android (Native and hybrid app), IOS (hybrid app), Solar Search, Cordova plug-ins , Amazon Alexa integration with web/hardware, Tableau, Java, J2EE,  EJB, spring, Rest and SOAP based web services, Flex, IBATIS/MyBatis, UNIX scripting, SQL, IndexedDB, Mongodb, DB2, Google & Heroku cloud hosting,  Design Patterns, Regular expressions, web sockets using Light Streamers, Grunt build, Node JS, OAuth API for twitter, PDF and XLS generation using Appache FOP, Autosys, Web securities (e.g. XSS, XSRF, SQL injection). JUnit, jsamin, karma.  
   </p-accordionTab>
    <p-accordionTab header="Tools">
        I have experience with various tools splunk search scripts, Git, Synergy, SVN, PVCS, VSS, RAD, Intellij, jprofiler, IBM web sphere, tomcat IBM thread analyzer, IBM Pattern modeling and analysis, fiddler, chrome dev console.
    </p-accordionTab>
     <p-accordionTab header="Interpersonal skills">
         Effective communication among all sort of team from business team, testing team to development team and people with all sort of experience from senior management (MD, ED, VP) to developers. 
         Experience in leading large team and coordination with team of heterogeneous vendors. Excellent skills in conflict resolution.
    </p-accordionTab>  
    <p-accordionTab header="Roles and responsibilities">
        I play multiple roles during the life cycle of application which includes requirement gathering, writing functional specifications documents,
        high level design, Application coding and work cordination with team, Unit testing and support for UAT testing.
    </p-accordionTab>   
    <p-accordionTab header="Educational and certifications">
      <br/>  •	B.Tech (Hons) in computer Engg from JMIT (Kurukshetra University, India) with 72.34 % in June 2004.
<br/> •	3 years Diploma in Electronics and Communication from Govt. polytechnic Nilokheri (India) with 74.6 % in June 2001.
<br/> •	Sun certified in SCJP and SCWCD
<br/> •	Banking certification in core banking, equities, and fixed income from D&B.

    </p-accordionTab>  
</p-accordion>